@font-face {
    font-family: "Abalone";
    src: url(../assets/Abalone\ Smile.ttf);
}

@font-face {
    font-family: "TT";
    src: url(../assets/TT\ Rounds\ Neue\ Trial\ DemiBold.ttf);
}

@font-face {
    font-family: "Cherry";
    src: url(../assets/Dacherry.ttf);
}
